# Scrape data

## 1. Happiness Score by State 2024

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
response = requests.get("https://worldpopulationreview.com/state-rankings/happiest-states")
soup = BeautifulSoup(response.text, "html.parser")
soup.title

In [3]:
# find the table
table = soup.find("table")

# Fetch table head
headers = [th.text.strip() for th in table.find("thead").find_all("th") if th.text.strip()]

# Extract table data
data = []
rows = table.find("tbody").find_all("tr")
for row in rows:
    cols = row.find_all("td")
    if cols:
        values = [col.text.strip() for col in cols[1:]]
        data.append(values)

# Create DataFrame
happiness = pd.DataFrame(data, columns=headers)

In [4]:
happiness

,State,Total Happiness Scoreâ,Emotional & Physical Well-Being Rank,Community & Environment Rank,Work Environment Rank
0,Hawaii,66.31,1,7,17
1,Maryland,62.6,5,4,24
2,Minnesota,62.43,10,9,2
3,Utah,62.41,29,1,1
4,New Jersey,61.71,2,19,28
5,Idaho,61.6,25,2,3
6,California,59.97,12,5,14
7,Illinois,58.59,3,34,33
8,Nebraska,58.19,13,22,7
9,Connecticut,58.15,7,28,21
10,Virginia,57.84,9,27,20
11,South Dakota,57.6,15,15,10
12,North Dakota,57.37,19,10,9
13,Massachusetts,57.12,6,41,15
14,New Hampshire,56.46,18,20,13
15,Iowa,55.57,21,29,6
16,Delaware,55.16,11,18,41
17,Florida,55.08,4,48,30
18,Georgia,54.78,16,14,32
19,North Carolina,53.65,14,40,25
20,Wisconsin,53.61,20,37,16
21,Washington,53.53,33,8,5
22,New York,53.36,8,45,42
23,Maine,52.67,22,35,19
24,Wyoming,52.4,36,3,31
25,Oregon,52.11,30,23,12
26,Pennsylvania,51.87,26,21,34
27,Rhode Island,51.55,23,43,18
28,Montana,51.34,41,13,4
29,Colorado,50.7,27,47,8
30,Arizona,50.22,28,33,29
31,Kansas,49.9,31,26,23
32,South Carolina,49.62,32,11,38
33,Vermont,48.46,34,44,11
34,Nevada,48.16,35,6,43
35,Texas,47.74,17,50,39
36,Indiana,47.41,37,30,22
37,Ohio,46.81,39,16,36
38,Michigan,46.51,38,24,35
39,Alaska,46.27,24,49,37
40,Missouri,45.38,40,35,27
41,New Mexico,43.64,42,17,47
42,Tennessee,43.35,44,42,26
43,Oklahoma,40.69,46,12,44
44,Mississippi,39.58,43,38,50
45,Alabama,39.32,45,46,40
46,Kentucky,38.36,49,25,45
47,Arkansas,38.23,47,31,46
48,Louisiana,34.81,48,39,49
49,West Virginia,33.83,50,32,48

In [5]:
# Rename columns
happiness.columns = ["state", "total happiness score", "emotional & physical well-being rank",
                     "community & environment rank", "work environment rank"]
happiness

,state,total happiness score,emotional & physical well-being rank,community & environment rank,work environment rank
0,Hawaii,66.31,1,7,17
1,Maryland,62.6,5,4,24
2,Minnesota,62.43,10,9,2
3,Utah,62.41,29,1,1
4,New Jersey,61.71,2,19,28
5,Idaho,61.6,25,2,3
6,California,59.97,12,5,14
7,Illinois,58.59,3,34,33
8,Nebraska,58.19,13,22,7
9,Connecticut,58.15,7,28,21
10,Virginia,57.84,9,27,20
11,South Dakota,57.6,15,15,10
12,North Dakota,57.37,19,10,9
13,Massachusetts,57.12,6,41,15
14,New Hampshire,56.46,18,20,13
15,Iowa,55.57,21,29,6
16,Delaware,55.16,11,18,41
17,Florida,55.08,4,48,30
18,Georgia,54.78,16,14,32
19,North Carolina,53.65,14,40,25
20,Wisconsin,53.61,20,37,16
21,Washington,53.53,33,8,5
22,New York,53.36,8,45,42
23,Maine,52.67,22,35,19
24,Wyoming,52.4,36,3,31
25,Oregon,52.11,30,23,12
26,Pennsylvania,51.87,26,21,34
27,Rhode Island,51.55,23,43,18
28,Montana,51.34,41,13,4
29,Colorado,50.7,27,47,8
30,Arizona,50.22,28,33,29
31,Kansas,49.9,31,26,23
32,South Carolina,49.62,32,11,38
33,Vermont,48.46,34,44,11
34,Nevada,48.16,35,6,43
35,Texas,47.74,17,50,39
36,Indiana,47.41,37,30,22
37,Ohio,46.81,39,16,36
38,Michigan,46.51,38,24,35
39,Alaska,46.27,24,49,37
40,Missouri,45.38,40,35,27
41,New Mexico,43.64,42,17,47
42,Tennessee,43.35,44,42,26
43,Oklahoma,40.69,46,12,44
44,Mississippi,39.58,43,38,50
45,Alabama,39.32,45,46,40
46,Kentucky,38.36,49,25,45
47,Arkansas,38.23,47,31,46
48,Louisiana,34.81,48,39,49
49,West Virginia,33.83,50,32,48

Happiness scores were determined by evaluating 30 indicators across three main categories: 1) Emotional & Physical Well-Being, 2) Work Environment, and 3) Community & Environment.

## 2. Mental Health Statistics by State 2024

In [6]:
response2 = requests.get("https://worldpopulationreview.com/state-rankings/mental-health-statistics-by-state")
soup2 = BeautifulSoup(response2.text, "html.parser")
soup2.title

In [7]:
# find the table
table2 = soup2.find("table")

# Fetch table head
headers2 = [th.text.strip() for th in table2.find("thead").find_all("th") if th.text.strip()]

# Extract table data
data2 = []
rows2 = table2.find("tbody").find_all("tr")
for row in rows2:
    cols = row.find_all("td")
    if cols:
        values = [col.text.strip() for col in cols[1:]]
        data2.append(values)

# Create DataFrame
mental_illness = pd.DataFrame(data2, columns=headers2)

In [8]:
mental_illness

,State,Rates Of Mental Illnessâ,Adults With Anxiety Or Depression,Adults With Severe Mental Illness,Overall Mental Health Standing (Youth & Adults)
0,Utah,29.68%,32.1%,6.3%,42
1,Oregon,27.33%,32.6%,5.7%,45
2,West Virginia,26.05%,37.9%,5.8%,37
3,Kansas,26.02%,32%,5.7%,40
4,Oklahoma,25.59%,33.9%,5.4%,32
5,Washington,25.51%,31.3%,5.5%,31
6,Idaho,24.92%,35.9%,5.3%,49
7,Ohio,24.32%,35.2%,6.3%,24
8,Rhode Island,24.12%,25.1%,5.1%,11
9,Arizona,23.89%,33.2%,5.6%,48
10,New Hampshire,23.74%,31.5%,4.9%,13
11,Vermont,23.71%,30.5%,5.8%,5
12,Wyoming,23.63%,32.3%,5.5%,47
13,Montana,23.43%,32.2%,5.2%,20
14,Nebraska,23.41%,26.9%,4.9%,25
15,Minnesota,23.23%,26.8%,4.9%,10
16,Colorado,23.16%,32.1%,5.5%,36
17,Arkansas,22.61%,30.6%,5.5%,38
18,Michigan,22.33%,32.1%,5%,17
19,Alaska,22.2%,31.6%,5.9%,46
20,Kentucky,21.91%,35.9%,5.8%,15
21,Indiana,21.83%,31.2%,5.4%,41
22,Wisconsin,21.83%,28.1%,5.3%,7
23,South Carolina,21.69%,32.8%,4.9%,29
24,Maine,21.61%,27.5%,6%,8
25,Massachusetts,21.39%,30.7%,5.2%,1
26,Nevada,21.38%,32.6%,5.6%,50
27,Missouri,21.32%,30.2%,5.6%,39
28,South Dakota,21.25%,24.7%,5.3%,16
29,Alabama,21.24%,38.2%,5.6%,44
30,Louisiana,21.18%,39.2%,5.3%,18
31,New Mexico,21.16%,32.1%,5.3%,34
32,Mississippi,21.06%,32.6%,5.2%,35
33,Iowa,21%,27.8%,5.4%,22
34,North Dakota,20.79%,30.4%,5%,28
35,Illinois,20.72%,28.5%,4.5%,12
36,Delaware,20.52%,30.7%,5.4%,21
37,Virginia,20.51%,28.6%,4.5%,19
38,California,20.49%,32.6%,4.5%,23
39,Tennessee,20.46%,33.9%,5.4%,33
40,North Carolina,19.8%,30.1%,4.8%,30
41,Pennsylvania,19.68%,32.8%,4.9%,3
42,New York,18.83%,34.1%,4.4%,6
43,Connecticut,18.77%,30.5%,4.5%,4
44,New Jersey,18.27%,24.4%,4.1%,2
45,Texas,17.96%,35.4%,4.3%,43
46,Hawaii,17.86%,23.9%,4.2%,14
47,Maryland,17.8%,29.1%,4.5%,9
48,Georgia,17.55%,33.6%,4.5%,26
49,Florida,17.49%,33.7%,4.3%,27
50,United States,20.75%,32.24%,4.9%,

In [9]:
# Rename columns
mental_illness.columns = ["state", "rates of mental illness", "adults with anxiety or depression",
                          "adults with severe mental illness", "overll mental health standing (youth & adults)"]
mental_illness

,state,rates of mental illness,adults with anxiety or depression,adults with severe mental illness,overll mental health standing (youth & adults)
0,Utah,29.68%,32.1%,6.3%,42
1,Oregon,27.33%,32.6%,5.7%,45
2,West Virginia,26.05%,37.9%,5.8%,37
3,Kansas,26.02%,32%,5.7%,40
4,Oklahoma,25.59%,33.9%,5.4%,32
5,Washington,25.51%,31.3%,5.5%,31
6,Idaho,24.92%,35.9%,5.3%,49
7,Ohio,24.32%,35.2%,6.3%,24
8,Rhode Island,24.12%,25.1%,5.1%,11
9,Arizona,23.89%,33.2%,5.6%,48
10,New Hampshire,23.74%,31.5%,4.9%,13
11,Vermont,23.71%,30.5%,5.8%,5
12,Wyoming,23.63%,32.3%,5.5%,47
13,Montana,23.43%,32.2%,5.2%,20
14,Nebraska,23.41%,26.9%,4.9%,25
15,Minnesota,23.23%,26.8%,4.9%,10
16,Colorado,23.16%,32.1%,5.5%,36
17,Arkansas,22.61%,30.6%,5.5%,38
18,Michigan,22.33%,32.1%,5%,17
19,Alaska,22.2%,31.6%,5.9%,46
20,Kentucky,21.91%,35.9%,5.8%,15
21,Indiana,21.83%,31.2%,5.4%,41
22,Wisconsin,21.83%,28.1%,5.3%,7
23,South Carolina,21.69%,32.8%,4.9%,29
24,Maine,21.61%,27.5%,6%,8
25,Massachusetts,21.39%,30.7%,5.2%,1
26,Nevada,21.38%,32.6%,5.6%,50
27,Missouri,21.32%,30.2%,5.6%,39
28,South Dakota,21.25%,24.7%,5.3%,16
29,Alabama,21.24%,38.2%,5.6%,44
30,Louisiana,21.18%,39.2%,5.3%,18
31,New Mexico,21.16%,32.1%,5.3%,34
32,Mississippi,21.06%,32.6%,5.2%,35
33,Iowa,21%,27.8%,5.4%,22
34,North Dakota,20.79%,30.4%,5%,28
35,Illinois,20.72%,28.5%,4.5%,12
36,Delaware,20.52%,30.7%,5.4%,21
37,Virginia,20.51%,28.6%,4.5%,19
38,California,20.49%,32.6%,4.5%,23
39,Tennessee,20.46%,33.9%,5.4%,33
40,North Carolina,19.8%,30.1%,4.8%,30
41,Pennsylvania,19.68%,32.8%,4.9%,3
42,New York,18.83%,34.1%,4.4%,6
43,Connecticut,18.77%,30.5%,4.5%,4
44,New Jersey,18.27%,24.4%,4.1%,2
45,Texas,17.96%,35.4%,4.3%,43
46,Hawaii,17.86%,23.9%,4.2%,14
47,Maryland,17.8%,29.1%,4.5%,9
48,Georgia,17.55%,33.6%,4.5%,26
49,Florida,17.49%,33.7%,4.3%,27
50,United States,20.75%,32.24%,4.9%,

Overall Mental Health Standing is each state's combined score in 14 categories (7 adult and 7 youth), such as "Adults with Any Mental Illness" and "Youth With Severe Major Depressive Episodes (MDE)".

Higher standings (01-10) are preferable, and indicate less mental illness and greater access to care. Lower standings (38-50) indicate higher prevalence of mental illness and decreased access to care.

## 3. Suicide Rates by State 2024

In [10]:
response3 = requests.get("https://worldpopulationreview.com/state-rankings/suicide-rates-by-state")
soup3 = BeautifulSoup(response3.text, "html.parser")
soup3.title

In [11]:
# find the table
table3 = soup3.find("table")

# Fetch table head
headers3 = [th.text.strip() for th in table3.find("thead").find_all("th") if th.text.strip()]

# Extract table data
data3 = []
rows3 = table3.find("tbody").find_all("tr")
for row in rows3:
    cols = row.find_all("td")
    if cols:
        values = [col.text.strip() for col in cols[1:]]
        data3.append(values)

# Create DataFrame
suicide = pd.DataFrame(data3, columns=headers3)

In [12]:
suicide

             State Suicide Rateâ Suicides
0          Wyoming            32.3      190
1          Montana            32.0      350
2           Alaska            30.8      220
3       New Mexico            25.0      533
4     South Dakota            23.2      203
5         Colorado            22.8    1,384
6         Oklahoma            22.1      877
7           Nevada            21.5      691
8     North Dakota            20.8      156
9         Arkansas            20.6      618
10   West Virginia            20.6      375
11           Idaho            20.5      387
12         Vermont            20.3      142
13            Utah            20.1      643
14         Arizona            19.5    1,475
15           Maine            19.5      277
16          Oregon            19.5      889
17          Kansas            19.4      560
18        Missouri            18.7    1,177
19        Kentucky            17.9      816
20            Iowa            17.5      549
21       Tennessee            17.0    1,222
22         Indiana            16.4    1,129
23     Mississippi            16.2      480
24         Alabama            15.8      827
25         Georgia            15.3    1,676
26      Washington            15.3    1,229
27  South Carolina            15.2      802
28   New Hampshire            15.1      223
29       Wisconsin            15.1      905
30        Nebraska            15.0      288
31       Louisiana            14.8      689
32            Ohio            14.6    1,766
33        Michigan            14.3    1,485
34           Texas            14.2    4,193
35         Florida            14.0    3,351
36       Minnesota            13.9      808
37    Pennsylvania            13.9    1,885
38          Hawaii            13.7      202
39        Delaware            13.6      137
40  North Carolina            13.2    1,448
41        Virginia            13.2    1,188
42        Illinois            11.1    1,454
43    Rhode Island            10.3      117
44      California            10.1    4,148
45     Connecticut            10.0      401
46        Maryland             9.7      620
47   Massachusetts             8.0      604
48        New York             7.9    1,660
49      New Jersey             7.1      688
50   United States            14.1   48,137

In [13]:
# Rename columns
suicide.columns = ["state", "suicide rate (per 100k)", "sucides"]
suicide

             state suicide rate (per 100k) sucides
0          Wyoming                    32.3     190
1          Montana                    32.0     350
2           Alaska                    30.8     220
3       New Mexico                    25.0     533
4     South Dakota                    23.2     203
5         Colorado                    22.8   1,384
6         Oklahoma                    22.1     877
7           Nevada                    21.5     691
8     North Dakota                    20.8     156
9         Arkansas                    20.6     618
10   West Virginia                    20.6     375
11           Idaho                    20.5     387
12         Vermont                    20.3     142
13            Utah                    20.1     643
14         Arizona                    19.5   1,475
15           Maine                    19.5     277
16          Oregon                    19.5     889
17          Kansas                    19.4     560
18        Missouri                    18.7   1,177
19        Kentucky                    17.9     816
20            Iowa                    17.5     549
21       Tennessee                    17.0   1,222
22         Indiana                    16.4   1,129
23     Mississippi                    16.2     480
24         Alabama                    15.8     827
25         Georgia                    15.3   1,676
26      Washington                    15.3   1,229
27  South Carolina                    15.2     802
28   New Hampshire                    15.1     223
29       Wisconsin                    15.1     905
30        Nebraska                    15.0     288
31       Louisiana                    14.8     689
32            Ohio                    14.6   1,766
33        Michigan                    14.3   1,485
34           Texas                    14.2   4,193
35         Florida                    14.0   3,351
36       Minnesota                    13.9     808
37    Pennsylvania                    13.9   1,885
38          Hawaii                    13.7     202
39        Delaware                    13.6     137
40  North Carolina                    13.2   1,448
41        Virginia                    13.2   1,188
42        Illinois                    11.1   1,454
43    Rhode Island                    10.3     117
44      California                    10.1   4,148
45     Connecticut                    10.0     401
46        Maryland                     9.7     620
47   Massachusetts                     8.0     604
48        New York                     7.9   1,660
49      New Jersey                     7.1     688
50   United States                    14.1  48,137

Suicide Rate is the number of completed suicide attempts per 100,000 residents.

In [14]:
suicide["suicide rate (per 100k)"] = suicide["suicide rate (per 100k)"].astype(float)
suicide["suicide rate (%)"] = (suicide["suicide rate (per 100k)"] / 1000).round(4)
suicide

             state  suicide rate (per 100k) sucides  suicide rate (%)
0          Wyoming                     32.3     190            0.0323
1          Montana                     32.0     350            0.0320
2           Alaska                     30.8     220            0.0308
3       New Mexico                     25.0     533            0.0250
4     South Dakota                     23.2     203            0.0232
5         Colorado                     22.8   1,384            0.0228
6         Oklahoma                     22.1     877            0.0221
7           Nevada                     21.5     691            0.0215
8     North Dakota                     20.8     156            0.0208
9         Arkansas                     20.6     618            0.0206
10   West Virginia                     20.6     375            0.0206
11           Idaho                     20.5     387            0.0205
12         Vermont                     20.3     142            0.0203
13            Utah                     20.1     643            0.0201
14         Arizona                     19.5   1,475            0.0195
15           Maine                     19.5     277            0.0195
16          Oregon                     19.5     889            0.0195
17          Kansas                     19.4     560            0.0194
18        Missouri                     18.7   1,177            0.0187
19        Kentucky                     17.9     816            0.0179
20            Iowa                     17.5     549            0.0175
21       Tennessee                     17.0   1,222            0.0170
22         Indiana                     16.4   1,129            0.0164
23     Mississippi                     16.2     480            0.0162
24         Alabama                     15.8     827            0.0158
25         Georgia                     15.3   1,676            0.0153
26      Washington                     15.3   1,229            0.0153
27  South Carolina                     15.2     802            0.0152
28   New Hampshire                     15.1     223            0.0151
29       Wisconsin                     15.1     905            0.0151
30        Nebraska                     15.0     288            0.0150
31       Louisiana                     14.8     689            0.0148
32            Ohio                     14.6   1,766            0.0146
33        Michigan                     14.3   1,485            0.0143
34           Texas                     14.2   4,193            0.0142
35         Florida                     14.0   3,351            0.0140
36       Minnesota                     13.9     808            0.0139
37    Pennsylvania                     13.9   1,885            0.0139
38          Hawaii                     13.7     202            0.0137
39        Delaware                     13.6     137            0.0136
40  North Carolina                     13.2   1,448            0.0132
41        Virginia                     13.2   1,188            0.0132
42        Illinois                     11.1   1,454            0.0111
43    Rhode Island                     10.3     117            0.0103
44      California                     10.1   4,148            0.0101
45     Connecticut                     10.0     401            0.0100
46        Maryland                      9.7     620            0.0097
47   Massachusetts                      8.0     604            0.0080
48        New York                      7.9   1,660            0.0079
49      New Jersey                      7.1     688            0.0071
50   United States                     14.1  48,137            0.0141

# Merge dataframes

In [15]:
df = happiness.merge(mental_illness, on="state")
df.head()

,state,total happiness score,emotional & physical well-being rank,community & environment rank,work environment rank,rates of mental illness,adults with anxiety or depression,adults with severe mental illness,overll mental health standing (youth & adults)
0,Hawaii,66.31,1,7,17,17.86%,23.9%,4.2%,14
1,Maryland,62.6,5,4,24,17.8%,29.1%,4.5%,9
2,Minnesota,62.43,10,9,2,23.23%,26.8%,4.9%,10
3,Utah,62.41,29,1,1,29.68%,32.1%,6.3%,42
4,New Jersey,61.71,2,19,28,18.27%,24.4%,4.1%,2

In [16]:
df2 = df.merge(suicide, on="state")
df2.head()

,state,total happiness score,emotional & physical well-being rank,community & environment rank,work environment rank,rates of mental illness,adults with anxiety or depression,adults with severe mental illness,overll mental health standing (youth & adults),suicide rate (per 100k),sucides,suicide rate (%)
0,Hawaii,66.31,1,7,17,17.86%,23.9%,4.2%,14,13.7,202,0.0137
1,Maryland,62.6,5,4,24,17.8%,29.1%,4.5%,9,9.7,620,0.0097
2,Minnesota,62.43,10,9,2,23.23%,26.8%,4.9%,10,13.9,808,0.0139
3,Utah,62.41,29,1,1,29.68%,32.1%,6.3%,42,20.1,643,0.0201
4,New Jersey,61.71,2,19,28,18.27%,24.4%,4.1%,2,7.1,688,0.0071

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   state                                           50 non-null     object
 1   total happiness score                           50 non-null     object
 2   emotional & physical well-being rank            50 non-null     object
 3   community & environment rank                    50 non-null     object
 4   work environment rank                           50 non-null     object
 5   rates of mental illness                         50 non-null     object
 6   adults with anxiety or depression               50 non-null     object
 7   adults with severe mental illness               50 non-null     object
 8   overll mental health standing (youth & adults)  50 non-null     object
 9   suicide rate (per 100k)                         50 non-null     float64
 10  sucides                                         50 non-null     object
 11  suicide rate (%)                                50 non-null     float64
dtypes: float64(2), object(10)
memory usage: 4.8+ KB

In [18]:
psychological_condition = df2[["state", "total happiness score","rates of mental illness",
                              "suicide rate (%)"]]

psychological_condition = psychological_condition.rename(columns={
    "total happiness score":"happiness score",
    "rates of mental illness":"mental illness rate (%)"})

psychological_condition["happiness score"] = psychological_condition["happiness score"].astype(float)
psychological_condition["mental illness rate (%)"] = psychological_condition["mental illness rate (%)"].str.rstrip("%").astype(float)

psychological_condition

             state  happiness score  mental illness rate (%)  suicide rate (%)
0           Hawaii            66.31                    17.86            0.0137
1         Maryland            62.60                    17.80            0.0097
2        Minnesota            62.43                    23.23            0.0139
3             Utah            62.41                    29.68            0.0201
4       New Jersey            61.71                    18.27            0.0071
5            Idaho            61.60                    24.92            0.0205
6       California            59.97                    20.49            0.0101
7         Illinois            58.59                    20.72            0.0111
8         Nebraska            58.19                    23.41            0.0150
9      Connecticut            58.15                    18.77            0.0100
10        Virginia            57.84                    20.51            0.0132
11    South Dakota            57.60                    21.25            0.0232
12    North Dakota            57.37                    20.79            0.0208
13   Massachusetts            57.12                    21.39            0.0080
14   New Hampshire            56.46                    23.74            0.0151
15            Iowa            55.57                    21.00            0.0175
16        Delaware            55.16                    20.52            0.0136
17         Florida            55.08                    17.49            0.0140
18         Georgia            54.78                    17.55            0.0153
19  North Carolina            53.65                    19.80            0.0132
20       Wisconsin            53.61                    21.83            0.0151
21      Washington            53.53                    25.51            0.0153
22        New York            53.36                    18.83            0.0079
23           Maine            52.67                    21.61            0.0195
24         Wyoming            52.40                    23.63            0.0323
25          Oregon            52.11                    27.33            0.0195
26    Pennsylvania            51.87                    19.68            0.0139
27    Rhode Island            51.55                    24.12            0.0103
28         Montana            51.34                    23.43            0.0320
29        Colorado            50.70                    23.16            0.0228
30         Arizona            50.22                    23.89            0.0195
31          Kansas            49.90                    26.02            0.0194
32  South Carolina            49.62                    21.69            0.0152
33         Vermont            48.46                    23.71            0.0203
34          Nevada            48.16                    21.38            0.0215
35           Texas            47.74                    17.96            0.0142
36         Indiana            47.41                    21.83            0.0164
37            Ohio            46.81                    24.32            0.0146
38        Michigan            46.51                    22.33            0.0143
39          Alaska            46.27                    22.20            0.0308
40        Missouri            45.38                    21.32            0.0187
41      New Mexico            43.64                    21.16            0.0250
42       Tennessee            43.35                    20.46            0.0170
43        Oklahoma            40.69                    25.59            0.0221
44     Mississippi            39.58                    21.06            0.0162
45         Alabama            39.32                    21.24            0.0158
46        Kentucky            38.36                    21.91            0.0179
47        Arkansas            38.23                    22.61            0.0206
48       Louisiana            34.81                    21.18            0.0148
49   West Virginia            33.83                    26.05            0.0206

Happiness scores were determined by evaluating 30 indicators across three main categories: 1) Emotional & Physical Well-Being, 2) Work Environment, and 3) Community & Environment.

In [19]:
psychological_condition.to_csv("../Data/psychological_condition.csv", index=False, encoding="utf-8-sig")

# Merge haunted_joined.csv

In [20]:
# Read haunted_joined.csv
haunted_joined = pd.read_csv("../Data/haunted_joined.csv")

In [21]:
# Check the number of unique state
haunted_joined["state"].nunique()

51

In [22]:
haunted_joined["state"].unique()

array(['Michigan', 'Pennsylvania', 'California', 'Massachusetts',
       'Arkansas', 'Oregon', 'Arizona', 'Maryland', 'Oklahoma', 'Maine',
       'Alaska', 'Louisiana', 'Alabama', 'Ohio', 'New Jersey',
       'Washington DC', 'North Dakota', 'Wyoming', 'North Carolina',
       'Kentucky', 'Kansas', 'New York', 'Wisconsin', 'Iowa',
       'West Virginia', 'New Mexico', 'Washington', 'Illinois', 'Indiana',
       'Virginia', 'Idaho', 'New Hampshire', 'Vermont', 'Nevada',
       'Hawaii', 'Utah', 'Nebraska', 'Georgia', 'Texas', 'Montana',
       'Tennessee', 'Florida', 'Missouri', 'Delaware', 'South Dakota',
       'Mississippi', 'Connecticut', 'Minnesota', 'South Carolina',
       'Rhode Island', 'Colorado'], dtype=object)

In [23]:
# Check the number of unique state
psychological_condition.nunique()

state                      50
happiness score            50
mental illness rate (%)    49
suicide rate (%)           43
dtype: int64

In [24]:
psychological_condition["state"].unique()

array(['Hawaii', 'Maryland', 'Minnesota', 'Utah', 'New Jersey', 'Idaho',
       'California', 'Illinois', 'Nebraska', 'Connecticut', 'Virginia',
       'South Dakota', 'North Dakota', 'Massachusetts', 'New Hampshire',
       'Iowa', 'Delaware', 'Florida', 'Georgia', 'North Carolina',
       'Wisconsin', 'Washington', 'New York', 'Maine', 'Wyoming',
       'Oregon', 'Pennsylvania', 'Rhode Island', 'Montana', 'Colorado',
       'Arizona', 'Kansas', 'South Carolina', 'Vermont', 'Nevada',
       'Texas', 'Indiana', 'Ohio', 'Michigan', 'Alaska', 'Missouri',
       'New Mexico', 'Tennessee', 'Oklahoma', 'Mississippi', 'Alabama',
       'Kentucky', 'Arkansas', 'Louisiana', 'West Virginia'], dtype=object)

In [25]:
# Add state "Washington DC"
washington_row = psychological_condition[psychological_condition["state"] == "Washington"].copy()

washington_row["state"] = "Washington DC"

psychological_condition = pd.concat([psychological_condition, washington_row], ignore_index=True)

psychological_condition["state"].nunique()

51

In [26]:
psychological_condition

             state  happiness score  mental illness rate (%)  suicide rate (%)
0           Hawaii            66.31                    17.86            0.0137
1         Maryland            62.60                    17.80            0.0097
2        Minnesota            62.43                    23.23            0.0139
3             Utah            62.41                    29.68            0.0201
4       New Jersey            61.71                    18.27            0.0071
5            Idaho            61.60                    24.92            0.0205
6       California            59.97                    20.49            0.0101
7         Illinois            58.59                    20.72            0.0111
8         Nebraska            58.19                    23.41            0.0150
9      Connecticut            58.15                    18.77            0.0100
10        Virginia            57.84                    20.51            0.0132
11    South Dakota            57.60                    21.25            0.0232
12    North Dakota            57.37                    20.79            0.0208
13   Massachusetts            57.12                    21.39            0.0080
14   New Hampshire            56.46                    23.74            0.0151
15            Iowa            55.57                    21.00            0.0175
16        Delaware            55.16                    20.52            0.0136
17         Florida            55.08                    17.49            0.0140
18         Georgia            54.78                    17.55            0.0153
19  North Carolina            53.65                    19.80            0.0132
20       Wisconsin            53.61                    21.83            0.0151
21      Washington            53.53                    25.51            0.0153
22        New York            53.36                    18.83            0.0079
23           Maine            52.67                    21.61            0.0195
24         Wyoming            52.40                    23.63            0.0323
25          Oregon            52.11                    27.33            0.0195
26    Pennsylvania            51.87                    19.68            0.0139
27    Rhode Island            51.55                    24.12            0.0103
28         Montana            51.34                    23.43            0.0320
29        Colorado            50.70                    23.16            0.0228
30         Arizona            50.22                    23.89            0.0195
31          Kansas            49.90                    26.02            0.0194
32  South Carolina            49.62                    21.69            0.0152
33         Vermont            48.46                    23.71            0.0203
34          Nevada            48.16                    21.38            0.0215
35           Texas            47.74                    17.96            0.0142
36         Indiana            47.41                    21.83            0.0164
37            Ohio            46.81                    24.32            0.0146
38        Michigan            46.51                    22.33            0.0143
39          Alaska            46.27                    22.20            0.0308
40        Missouri            45.38                    21.32            0.0187
41      New Mexico            43.64                    21.16            0.0250
42       Tennessee            43.35                    20.46            0.0170
43        Oklahoma            40.69                    25.59            0.0221
44     Mississippi            39.58                    21.06            0.0162
45         Alabama            39.32                    21.24            0.0158
46        Kentucky            38.36                    21.91            0.0179
47        Arkansas            38.23                    22.61            0.0206
48       Louisiana            34.81                    21.18            0.0148
49   West Virginia            33.83                    26.05            0.0206
50   Washington DC            53.53                    25.51            0.0153

In [27]:
# merge dataframes
haunted_joined2 = haunted_joined.merge(psychological_condition, on="state")
haunted_joined2.head()

,city,country,description,location,state,state_abbrev,longitude,latitude,city_longitude,city_latitude,...,2025 Annual Average Daylight Duration (Capital hrs),MonthlyMeanTemperature,TemperatureLevel,MonthlyTotalLiquidPrecipitation,RainLevel,MonthlyAverageWindSpeed,WindLevel,happiness score,mental illness rate (%),suicide rate (%)
0,Ada,United States,Ada witch - Sometimes you can see a misty blue...,Ada Cemetery,Michigan,MI,-85.504893,42.962106,-85.495480,42.960727,...,12.2,26.2,Cold,1.8,Dry,9.4,Strong,46.51,22.33,0.0143
1,Addison,United States,A little girl was killed suddenly while waitin...,North Adams Rd.,Michigan,MI,-84.381843,41.971425,-84.347168,41.986434,...,12.2,26.2,Cold,1.8,Dry,9.4,Strong,46.51,22.33,0.0143
2,Adrian,United States,If you take Gorman Rd. west towards Sand Creek...,Ghost Trestle,Michigan,MI,-84.035656,41.904538,-84.037166,41.897547,...,12.2,26.2,Cold,1.8,Dry,9.4,Strong,46.51,22.33,0.0143
3,Adrian,United States,"In the 1970's, one room, room 211, in the old ...",Siena Heights University,Michigan,MI,-84.017565,41.905712,-84.037166,41.897547,...,12.2,26.2,Cold,1.8,Dry,9.4,Strong,46.51,22.33,0.0143
4,Albion,United States,Kappa Delta Sorority - The Kappa Delta Sororit...,Albion College,Michigan,MI,-84.745177,42.244006,-84.753030,42.243097,...,12.2,26.2,Cold,1.8,Dry,9.4,Strong,46.51,22.33,0.0143

In [28]:
haunted_joined2.to_csv("../Data/haunted_joined2.csv", index=False, encoding="utf-8-sig")